:root {
  --default-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  --heavier-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

html {
  box-sizing: border-box;
  font-size: 10px;
  /* center center is for background position (x, y) */
  background: url('bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.display__start-message {
  margin: 0;
  font-size: 4rem;
  color: white;
}

h1,
p {
  text-shadow: var(--default-shadow);
}

.display__time-left {
  display: none;
  font-weight: 100;
  font-size: 20rem;
  margin: 0;
  color: white;
}

.timer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.timer__controls {
  display: flex;
  justify-content: space-around;
  margin: 3rem 3rem 0;
}

form {
  width: 150px;
}

.overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.1;
}

.timer__controls input {
  flex: 1;
  border: 0;
  padding: 1rem;
  outline: 0;
  color: #1976d2;
  border-radius: 5px;
  font-size: 2rem;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  caret-color: transparent;
  box-shadow: var(--default-shadow);
  transition: 0.5s;
}

input::placeholder {
  color: #1976d2;
  font-size: 2rem;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

input:hover,
input:focus {
  box-shadow: var(--heavier-shadow);
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  caret-color: auto;
}

.timer__button {
  background: none;
  border: 0;
  cursor: pointer;
  color: #1976d2;
  font-size: 2rem;
  border-radius: 5px;
  background: #fff;
  padding: 1rem;
  font-family: 'Inconsolata', monospace;
  box-shadow: var(--default-shadow);
  transition: 0.5s;
}

.timer__button:hover,
input:hover {
  transform: scale(1.03);
}

.timer__button:hover,
.timer__button:focus {
  outline: 0;
  box-shadow: var(--heavier-shadow);
}

.display {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display__end-time {
  display: none;
  font-size: 4rem;
  color: white;
}

.display__late {
  font-size: 3rem;
  color: white;
}

.controls {
  position: absolute;
  left: 3rem;
  bottom: 3rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.controls .fa-volume-mute {
  display: none;
}

.controls i {
  margin-right: 2.25rem;
  transition: 0.5s;
}

.controls i:hover {
  transform: scale(1.03);
}
